div {
	border-color: black;
	border-style: solid 1px;
}

#header {
	z-index: 1;
	position: fixed;
	width: 100%;
	margin-top: 0px;
	height: 60px;
	background-color: blue;
}

#temp {
	font-size: 48px;
}

#footer {
	z-index: 1;
	position: fixed;
	width: 100%;
	margin-top: 0px;
	height: 60px;
	background-color: blue;
}